.DS_Store
.dart_tool
.packages
build
_build
cover
deps
doc
.fetch
erl_crash.dump
*.ez
elixir_test-*.tar
tmp
.elixir_ls
tmp
main
target
.build
Packages
*.xcodeproj
xcuserdata
DerivedData
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
tags
node_modules
